<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/55b07f3c-0e20-46a7-8134-e0b8aed1428d/resourceGroups/resourcetest/providers/Microsoft.Web/sites/TodoApi108526014</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://todoapi108526014.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>todoapi108526014.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TodoApi108526014</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$TodoApi108526014</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>